h2,h3,h4{
    text-shadow: 1px 1px 2px #aaa;
}

.main_page_tab_btn_div{
    margin:7% auto;
    text-align: center;
}

.main_page_tab_btn_div a{
    width:60%;
}

#map {
    height: 100%;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.toolbarItem{
    font-size:0.8em;
}
.ons-icon{
    color: #26a69a;
}
th.sticky-header {
    position: sticky;
    top: 0;
    z-index: 10;
}
#settings-page{
    background-color: #fff;
    width:100%;
    height: 100%;
    margin:0;
    padding-top:5%;
}
#settings-title,.settings-table{
    margin:2% auto;
    width:90%;
}
#settings-title,.settings-table label{
    font-size: 1.1em;
    color:#222222;
}
.section {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin: 10px 5px;
}
.select-input{
    width: 30%;
}

